html,
body {
  height: 100%;
  margin: 0;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

div {
  min-height: 80vh;
}

.inputfield {
  display: flex;
  flex-direction: row;
  min-height: 15vh;
  gap: 10px;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 0;
}

.calc-grid,
.advFunc-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(5px, 1fr)) minmax(5px, 2fr);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
  padding-top: 10px;
}

.calc-grid {
  padding-right: 4px;
}

.advFunc-grid {
  width: 23%;
  padding-left: 4px;
  grid-template-columns: 1fr 1fr;
}

.advHid {
  width: 100%;
}

.advNoHid {
  width: 75%;
}

.input-field {
  /* grid-column-start: 1; */
  /* grid-column-end: 5; */
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */
  width: 80%;
  font-size: 20px;
  text-align: right;

  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}


#advMode-btn {
  /* grid-column-start: 6; */
  /* grid-column-end: 5; */
  /* grid-row-start: 1; */
  /* grid-row-end: 3; */
  width: 20%;
}

#plusBtn {
  grid-column-start: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

#equal {
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

#zeroBtn {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
}


.advFunc-hidden {
  display: none;
}
